{% extends 'base.html.twig' %}

{% block title %}Hello TournamentController!{% endblock %}

{% block body %}

{{ form(form) }}

		<a href="{{ path('user_new') }}">Ajouter des joueurs</a>

{% endblock %}
