{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td><a href="{{ path('user_delete', {'id': user.id}) }}">supprimer</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun joueur inscrit</td>
            </tr>
    {% endfor %}      
    
    <a href="{{ path('user_new') }}">Inscrire un nouveau joueur</a>



{% endblock %}
